#chat 
{
    display: none;
    height: 285px;
    /*height: 43%;*/
    width: 260px;
    /*right: 235px;*/
    right: 18%;
    border: 1px solid #A8A8A8;
}
#friends 
{
    height: 79.2%;
    width: 220px;
    /*width: 17%;*/
    right: 0;
    border-left: 1px solid #A8A8A8;
}
.chat-rounded-border
{
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
.properties-chat
{
    background-color: #E0E0E0;
    border: 1px solid #COCOCO;
    bottom: 0;
    position: fixed; 
}
.chat-header
{
    background-color: #00B276;
    height: 29px;
    width: 100%;
    padding: 3px;
}
.chat-exit
{
    float: right;
    text-align: right;
    cursor: pointer;
}
.chat-exit:hover 
{
    font-size: 1.1em;
}
#chat-messages 
{
    padding: 3px;
    min-width: 258px;
    height: 228px;
    overflow: auto;
}
#chat-messages::-webkit-scrollbar {
    width: 4px;
}
#chat-messages::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #00B276; 
}
.message-receive 
{
    background-color: #A0A0A0;
    margin-left: -10px;
}
.my-messages 
{
    float: right;
    background-color: #C0C0C0;
    margin-right: -10px;
}
.properties-messages
{
    border: 1px solid white;
    margin-top: 3px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 3px 10px 3px;
    max-width: 97%;
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
}
.text-box-chat
{
    height: 25px;
    width: 100%;
    border: none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 3px 5px 3px;
    
    outline: none;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    
    position: absolute;
    right: 0px; 
    bottom: 0px;
}
.box-friend 
{
    width: 100%;
    padding: 6px 15px 6px;
    cursor: pointer;
    font-size: 1em;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
}
.box-friend:hover 
{
    font-size: 1.1em;
}