body, html 
{
    font-family: 'Lato', sans-serif;
}
.tamano-titulo
{
    font-size: 3em;
}
.lato 
{
    font-family: 'Lato', sans-serif;
}
.pacific 
{
    font-family: 'Pacifico', cursive;
}
.error-text
{
    color: #E74C3C !important;
    font-size: 1.2em;
}
.ancho-encabezado
{
    height: 10%;
}
a 
{
    cursor: pointer;
}
.text-box
{
    height: 25px;
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px 0px;
    outline: none;
    font-size: 1.2em;
}
.form-control-radio
{
    font-size: 1.2em;
    font-weight: normal;
    cursor: pointer;
}
.combo-box
{
    height: 25px;
    width: 100%;
    border: 1px solid lightgray;
    font-size: 1.2em;
    cursor: pointer;
    background-color: white;
    outline: none;
}
.label-size
{
    font-size: 1.2em;
}
.button
{
    background-color: inherit;
    border: none;
    outline: none;
    /*text-transform: uppercase;*/
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px 7px;
    width: 100%;
}
a 
{
    color: #0455BF;
}
.be-gray
{
    background-color: #2F2F2F;
}
.be-green
{
    background-color: #00B276;
}
.be-blue
{
    background-color: #0455BF;
}
.white
{
    color: #ECF0F1;
}

.button-eliminar
{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px 7px;
    width: 100%;
}
.be-red
{
    background-color: #E74C3C;
}
.green
{
    color: #058542;
}
.red
{
    color: #E74C3C;
}
.hide
{
    display: none;
}



footer 
{
    padding: 5px;
    clear: both;
    /*background: #286af0;*/
    text-align: center;
}
.define 
{
    width:100%;
    margin:0 auto;
}


/* 
    PARTE PARA QUE EL CHAT QUEDE AJUSTADO ABAJO Y NO SE MUEVA CON EL SCROOL 

---> CODIGO HTML 

<div id="footer">
    <div class="wrap"> 
        <p>Insert content here.</p> 
    </div> 
</div>

---> CODIGO CSS

.wrap 
{ 
    width: 100%;
} 
#footer 
{ 
    width: 260px;
    height: 285px;
    position: fixed; 
    bottom: 0;
    right: 235px;
    background-color: #C9DFF2;
}
*/