.not-editable
{
    cursor: no-drop;
}
.padding-top-bottom 
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-top-bottom-body
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.go-top
{
    margin-top: 0;
}
.tamano-titulo
{
    font-size: 3em;
}
.lato 
{
    font-family: 'Lato', sans-serif;
}
.pacific 
{
    font-family: 'Pacifico', cursive;
}
.error-text
{
    color: #E74C3C !important;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}
.ancho-encabezado
{
    height: 10%;
}
a 
{
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.spinner-control
{
    height: 25px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    border: 1px solid lightgray;
    outline: none;
    font-size: 1.2em;
}
.text-box
{
    height: 25px;
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px 0px;
    outline: none;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}
.text-area
{
    resize: none;
    height: 200px;
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px 0px;
    outline: none;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}
.form-control-radio
{
    font-size: 1.2em;
    font-weight: normal;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.combo-box
{
    height: 25px;
    width: 100%;
    border: 1px solid lightgray;
    font-size: 1.2em;
    cursor: pointer;
    background-color: white;
    outline: none;
    font-family: 'Lato', sans-serif;
}
.label-size
{
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}
.button
{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px 7px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    font-family: 'Lato', sans-serif;
}
a 
{
    color: #0455BF;
}
.be-gray
{
    background-color: #2F2F2F;
}
.be-green
{
    background-color: #00B276;
}
.be-blue
{
    background-color: #0455BF;
}
.white
{
    color: #ECF0F1;
}
.be-green-dark 
{
    background-color: #2F763D;
}
.button-eliminar
{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px 7px;
    width: 100%;
}
.be-red
{
    background-color: #E74C3C;
}
.green
{
    color: #058542;
}
.red
{
    color: #E74C3C;
}
.hide
{
    display: none;
}

footer 
{
    padding: 5px;
    clear: both;
    text-align: center;
}
.define 
{
    width:100%;
    margin:0 auto;
}

h4 
{
    font-family: 'Lato', sans-serif;
}