.error-text
{
    color: #E74C3C !important;
    font-size: 1.2em;
}
.text-box
{
    height: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    padding: 10px 0px;
    outline: none;
    font-size: 1.2em;
}
.combo-box
{
    height: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 1.2em;
}
.form-control-label
{
    font-size: 1.3em;
}
.button
{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px;
    width: 100%;
}
.be-blue
{
    background-color: #0455BF;
}
.white
{
    color: #ECF0F1;
}

.button-eliminar
{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px 7px;
    width: 100%;
}
.be-red
{
    background-color: #E74C3C;
}
.green
{
    color: #058542;
}
.red
{
    color: #E74C3C;
}
.hide
{
    display: none;
}