.arriba{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: #00B276;
}
.go-down 
{
    margin-top: 14px;
}
.go-top-2 
{
    margin-top: 5px;
}
.button-exit
{
    background-color: #2F763D;
    border: none;
    outline: none;
    height: 25px;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#cuerpo{
    width: 82%;
}

/* INICIO MENU DE NAVEGACION */
.box-menu
{
    background-color: #2F2F2F;
}
.menu-nav
{
    cursor: pointer;
}
.box-menu ul{
    background-color: #2F2F2F;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:225px;
    z-index:200;
    text-decoration: none;
}
.box-menu .desplegar:hover ul{
    display:block; // Despliega
}
.box-menu ul li a
{
    color: white;
    text-decoration:none;
}
.box-menu ul li a:hover
{
    background-color: #005B80;
}
.menu-nav:hover
{
    background-color: #005B80;
}
.box-menu ul a
{
    display:block;
    padding: 0.5px 0 0.5px;
}
.box-menu ul li
{
    list-style:none;
}
/* FIN MENU DE NAVEGACION */

.miPerfil
{    
    width: 100%;
    border-top: 1px solid black;
}
.box-buttons-profile
{
    padding: 20px 0 0;
}
.button-modal
{
    padding: 10px 5px 10px;
    text-decoration: none !important;
    border-radius: 5px 5px 5px 5px;
}
.button-modal:hover
{
    color: #ECF0F1;
}

.box-profile
{
    padding: 110px 0 20px;
}
.crearForo
{
    width: 100%;
    padding: 70px 0 20px;
    border-top: 1px solid black;
}

.misAmigos
{
    width: 100%;
    padding: 70px 0 20px;
    border-top: 1px solid black;
}

/*.colAmigos
{
    width: 100%;
}

.iconoAmigo
{
    padding-top: 60px;
}

.iconoAmigo:hover
{
    width: 100%;
    border-radius: 3px;
    font-size: 30px;
    background: linear-gradient(#CFD4F2,#B7BFF5);
}

.miniFoto
{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.miniFoto, .iconoAmigo
{
    padding: 10px;
}

.infoAmigo, .miniFoto
{
    display: inline-block;
    padding: 0 0 0 10px;
}

.btnAtr
{
    width: 120px;
    background: #00B276;
    color: white;
    border-radius: 3px;
}

.btnAvan
{
    width: 120px;
    background: #00B276;
    color: white;
    border-radius: 3px;
}

.btnAtr, .btnAvan
{
    display: inline-block;
}

.fondoAmigos
{
    padding: 10px;
    border-bottom: 1px solid black;
}*/

.misPublicaciones
{
    width: 100%;
    padding: 70px 0 20px;
    border-top: 1px solid black;
    overflow-y: scroll;
    height: 400px;
}
.misAmigos
{
    width: 100%;
    padding: 70px 0 20px;
    border-top: 1px solid black;
}
.nuevaPublicacion
{
    width: 100%;
    border-top: 1px solid black;
    padding: 70px 0 20px;
}

/* ########################## Inicio icono buscar ############################## */
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }
/* ########################## Fin icono buscar ############################## */


/* ########################## Inicio foros ############################## */
.misForos 
{
    width: 100%;
    padding: 70px 0 20px;
    border-top: 1px solid black;
}
.listaForos
{
    width: 100%;  
}

.listaForos label
{
    padding: 5px;
    display: block;
    width: 100%;
}

.listaForos label:hover
{
    background: #00B276;
    border: 2px solid white;
}

.listaForos a:hover
{
    color: white;
    font-size: 20px;
    height: 55px;
}


/**foros activos**/
/*#foro-activo-nombre, #foro-activo-descripcion, #label-comentar-foro, 
#text-comentar-foro, #btn-comentar-foro, #foro-activo-idforo, #comments
{
    display: block;
    margin-left: 50px;
}*/

#text-comentar-foro
{
    width: 500px;
    height: 100px;
}




/* ########################## Inicio Ventana modal ############################## */
.modal-mask 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

/* Hace que la ventana se muestre */
.modal-mask:target 
{
    opacity: 1;
    pointer-events: auto;
}

.modal-box
{
    width: 400px;
    height: 305px;
    position: relative;
    padding: 5px 20px 5px;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in; 
}

/* Para que salga por el centro */
.move-down 
{
    margin: 0 auto;
}

/* Para que salga en el centro */
.modal-mask:target .move-down
{
    margin: 11% auto;
}

.box-change-pass
{
    width: 100%;
    float: left;
}
/* ########################## Fin Ventana modal ############################## */


/* ########################## Inicio autocompletado empresa ############################## */
* 
{
    margin: 0;
    padding: 0;
}

.list_container ul {
    border: 1px solid #A8A8A8;
    position: absolute;
    z-index: 99999;
    background: #E0E0E0;
    list-style: none;
    width: 100%;
    
}
.list_container ul li {
    padding: 2px;
}
.list_container ul li:hover {
    background-color: #005B80;
    cursor: pointer;
    color: #ECF0F1;
}

#element_list_id_company {
    display: none;
}

#element_list_id_search {
    display: none;
}

#element_list_id_lenguaje {
    display: none;
}
/* ########################## Fin autocompletado empresa ############################## */

#id-friend-chat-actual
{
    display: none;
}