.arriba{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: #00B276;
}
.go-down 
{
    margin-top: 14px;
}
.go-top-2 
{
    margin-top: 5px;
}
.button-exit
{
    background-color: #2F763D;
    border: none;
    outline: none;
    height: 25px;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#cuerpo{
    width: 82%;
}

/* INICIO MENU DE NAVEGACION */
.box-menu
{
    background-color: #2F2F2F;
}
.menu-nav
{
    cursor: pointer;
}
.box-menu ul{
    background-color: #2F2F2F;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:225px;
    z-index:200;
    text-decoration: none;
}
.box-menu .desplegar:hover ul{
    display:block; // Despliega
}
.box-menu ul li a
{
    color: white;
    text-decoration:none;
}
.box-menu ul li a:hover
{
    background-color: #005B80;
}
.menu-nav:hover
{
    background-color: #005B80;
}
.box-menu ul a
{
    display:block;
    padding: 0.5px 0 0.5px;
}
.box-menu ul li
{
    list-style:none;
}
/* FIN MENU DE NAVEGACION */

.miPerfil
{
    width: 100%;
    padding: 70px 0 20px;
    border-top: 1px solid black;
}

.crearForo
{
    width: 100%;
    padding: 70px 0 20px;
    border-top: 1px solid black;
}

.misAmigos
{
    width: 100%;
    height: 400px;
    padding-top: 50px;
}

.colAmigos
{
    height: 420px;
    width: 100%;
}

.iconoAmigo
{
    padding-top: 60px;
}

.iconoAmigo:hover
{
    width: 100%;
    border-radius: 3px;
    font-size: 30px;
    background: linear-gradient(#CFD4F2,#B7BFF5);
}

.miniFoto
{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.miniFoto, .iconoAmigo
{
    padding: 10px;
}

.infoAmigo, .miniFoto
{
    display: inline-block;
    padding: 0 0 0 10px;
}

.btnAtr
{
    width: 120px;
    background: #00B276;
    color: white;
    border-radius: 3px;
}

.btnAvan
{
    width: 120px;
    background: #00B276;
    color: white;
    border-radius: 3px;
}

.btnAtr, .btnAvan
{
    display: inline-block;
}

.fondoAmigos
{
    padding: 10px;
    border-bottom: 1px solid black;
}

.misPublicaciones
{
    width: 100%;
    padding: 70px 0 20px;
    border-top: 1px solid black;
}

.nuevaPublicacion
{
    width: 100%;
    border-top: 1px solid black;
    padding: 70px 0 20px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }